body{
  background-color: #007399;
}
h2{
  padding-top:0px;
  margin-top:0px;
}
hr{
  color: green;
}
#update{
  width: 25%;
}
.forms{
  background-color: #e6e600;
  padding: 20px;
  margin: 20px;
  margin-right: 180px;
  border-style: solid;
  border-width: 10px;
}
.addons{
  display: inline-block;
  background-color: grey;
  padding: 10px;
  margin: 20px;
  vertical-align:middle;

  border-style: solid;
  border-width: 5px;
}
.instructions{
  font-family: "Times New Roman";
}
#add{
  background-color: green;
  padding: 20px;
  position: fixed;
  bottom: 200px;
  right:40px;
  border-radius: 10px;
	border: solid 5px black;
}
#remove {
  background-color: red;
  padding:20px;
  position: fixed;
  bottom: 300px;
  right:20px;
  border-radius: 10px;
	border: solid 5px black;
}
